@media screen and (max-width: 1024.98px) {
}

body {
    background: #fff;
}

/* 컨테이너 */
.content-wrap {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.title h3 {
    font-size: 1.5rem;
    border-bottom: 2px solid #222;
    padding-bottom: 15px;
    margin: 0;
}


/* 리뷰 제목 */
.title-box p {
    font-size: 1.15rem;
    font-weight: 600;
    color: #222;
    margin: 5px 0 5px 0;
}
.btn-group a{
    margin-right: 15px;
    color: #666666;
}
.btn-group button{
    margin-right: 15px;
    color: #666666;
}


.input-container input[name="reviewTitle"]{
    min-width: 100%;
    min-height: 30px;
    margin-bottom: 3px;
    font-size: 100%;
    padding: 5px;
}

.input-container textarea[name="reviewContent"]{
    min-width: 100%;
    min-height: 500px;
    margin-bottom: 3px;
    font-size: 120%;
    padding: 5px;
}
