@media screen and (max-width: 1024.98px) {
}

body {
    background: #fff;
}
/*우선순위 밑줄삭제*/
a {
    text-decoration: none
}

/* 컨테이너 */
.content-wrap {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.title h3 {
    font-size: 1.5rem;
    border-bottom: 2px solid #222;
    padding-bottom: 15px;
    margin: 0;
}

/* 리스트 스타일 초기화 */
.board-list-box ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


/* 리뷰 제목 */
.title-box p {
    font-size: 1.15rem;
    font-weight: 600;
    color: #222;
    margin: 15px 0 15px 0;
}

/* 리뷰 내용 (2줄 제한) */
.content-box p {
    border-bottom: 1px solid #eee;
    font-size: 0.95rem;
    color: #666;
    line-height: 1.5;
    margin: 0 0 15px 0;
    padding-bottom: 10px;

}

/* 작성자, 날짜, 조회수 가로 정렬 */
.info-box {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    color: #666666;

}

/* 작성자, 날짜, 조회수 각 간격사이에 구분선 */
.info-box span:not(:last-child)::after {
    content: "|";
    margin-left: 15px;
    color: #ddd;
}

.btn-group a{
    content: "|";
    margin-right: 15px;
    color: #666666;
}