<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>씨네홈</title>
    <link rel="stylesheet" th:href="@{/css/layout/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/review/board.css}"/>
</head>
<body>

<!-- 헤더 연결 -->
<div th:insert="layout/header :: header"></div>


<div class="sub-content-wrap">
    <section class="content-wrap">
        <div class="title">
        <h3>리뷰 게시판</h3>
        </div>

        <div class="board list">
            <div class="board-list-box">
                <ul>
                    <!--반복 출력-->
                    <li th:each="listReview:${listReviews}">
                        <div class="txt-box">

                            <div class="title-box">
                                <!--리뷰 제목-->
                                <p th:text="${listReview.reviewTitle}"></p>
                            </div>

                            <div class="content-box">
                                <!--리뷰 내용-->
                                <p th:text="${listReview.reviewContent}"></p>
                            </div>

                            <!--원본의 기존 <li> 대신 가로로 나열하는건 span으로 처리-->
                            <div class="info-box">
                                <span th:text="${listReview.memberId}">작성자:조수아 홍보기자</span>
                                <span th:text="${listReview.getCreDt()}">날짜</span>
                                <span th:text="${listReview.getUpdateDt()}">수정:날짜</span>
                                <span th:text="${listReview.getViewCount()}">조회수</span>
                            </div>
<!--                            <div class="info-box">-->
<!--                                <span class="member-id">작성자:조수아 홍보기자</span>-->
<!--                                <span class="cre-date">날짜</span>-->
<!--                                <span class="update-date">수정:날짜</span>-->
<!--                                <span class="view-count">조회수</span>-->
<!--                            </div>-->

                        </div> <!--txt-box-->
                    </li>
                </ul>
            </div> <!--board-list-box-->
        </div> <!--board list-->
    </section>
</div>



</body>
</html>