<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>씨네홈</title>
  <link rel="stylesheet" th:href="@{/css/layout/header.css}"/>
  <link rel="stylesheet" th:href="@{/css/review/createForm.css}"/>
</head>
<body>

<!-- 헤더 연결 -->
<div th:insert="layout/header :: header"></div>
<p>리뷰 글쓰기</p>

<!--<div class="sub-content-wrap">-->
<!--  <section class="content-wrap">-->
<!--    <div class="title">-->
<!--      <h3>리뷰 글쓰기</h3>-->
<!--    </div>-->

<!--    <div class="board list">-->
<!--      <div class="board-list-box">-->
<!--        <ul>-->
<!--          <div class="txt-box">-->

<!--            <div class="title-box">-->
<!--&lt;!&ndash;              <a th:href="@{/review/createReview}">&ndash;&gt;-->
<!--                &lt;!&ndash;리뷰 제목&ndash;&gt;-->
<!--                <input type="radio" value="1"><label>왕과 사는 남자</label>-->
<!--                <input type="radio" value="2"><label>휴민트</label>-->
<!--                <input type="radio" value="3"><label>호퍼스</label>-->
<!--              </a>-->
<!--            </div>-->

<!--            <div class="content-box">-->
<!--              <input type="radio" value="1"><label>1점</label>-->
<!--              &lt;!&ndash;리뷰 내용&ndash;&gt;-->

<!--            </div>-->

<!--            <div class="btn-group">-->
<!--              <a th:href="@{/review/board}" class="btn">목록</a>-->
<!--            </div>-->

<!--          </div> &lt;!&ndash;txt-box&ndash;&gt;-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div> &lt;!&ndash;board-list-box&ndash;&gt;-->
<!--    </div> &lt;!&ndash;board list&ndash;&gt;-->
<!--  </section>-->
<!--</div>-->



</body>
</html>