<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>씨네홈</title>
    <link rel="stylesheet" th:href="@{/css/layout/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/review/view.css}"/>
</head>
<body>

<!-- 헤더 연결 -->
<div th:insert="layout/header :: header"></div>

<div class="sub-content-wrap">
    <section class="content-wrap">
        <div class="title">
            <h3>리뷰 게시판</h3>
        </div>

        <div class="board list">
            <div class="board-list-box">
                <ul>
                        <div class="txt-box">

                            <div class="title-box">
<!--                                <a th:href="@{/review/board/view(reviewId=${view.reviewId})}">-->
                                    <!--리뷰 제목-->
                                    <p th:text="${view.reviewTitle}"></p></a>
                            </div>

                            <!--원본의 기존 <li> 대신 가로로 나열하는건 span으로 처리-->
                            <div class="info-box">
                                <span th:text="'작성자 '+${view.memberId}"></span>
                                <span th:text="'등록일 '+${view.getCreDt()}"></span>
                                <span th:text="'수정일 '+${view.getUpdateDt()}"></span>
                                <span th:text="'조회수 '+${view.getViewCount()}"></span>
                            </div>

                            <div class="info-box">
                                <label>영화 제목: </label>
                                <span th:if="${view.movieId == 1}">왕과 사는 남자</span>
                                <span th:if="${view.movieId == 2}">휴민트</span>
                                <span th:if="${view.movieId == 3}">휴민트</span>

                            <div class="content-box">
                                <label>평점: </label>
                                <span th:text="${view.movieId} + '점'"></span>
                            </div>
                        </div>

                            <br>

                            <div class="content-box">
                                <!--리뷰 내용-->
                                <p th:text="${view.reviewContent}"></p>
                            </div>


                            <div class="btn-group">
                                <a th:href="@{/review/board}" class="btn">목록</a>

                                <a th:if="${session.member?.userId != null}"
                                   th:href="@{/review/createForm}" class="btn">글쓰기</a>

                                <a th:if="${session.member?.userId == view.userId}"
                                   th:href="@{/review/updateForm(reviewId=${view.getReviewId()})}" class="btn">수정하기</a>

                                <a th:if="${session.member?.userId == view.userId}"
                                   th:href="@{/review/board/deleteReview(reviewId=${view.reviewId})}">삭제</a>
                            </div>

                        </div> <!--txt-box-->
                    </li>
                </ul>
            </div> <!--board-list-box-->
        </div> <!--board list-->
    </section>
</div>



</body>
</html>