<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <!--css 연결-->
    <link rel="stylesheet" th:href="@{/css/member/login.css}"/>
</head>
<body>

<div class="login-wrapper">
    <div class="login-box">
        <h1 class="logo">CineHome</h1>

        <!--로그인은 포스트 방식으로 하기-->
        <form class="login-form" action="{member/login}" method="POST">
        <input type="text" name="memberId" placeholder="아이디"/></br>
        <input type="password" name="memberPw" placeholder="비밀번호"/></br>
            <button type="submit" >로그인</button>
        </form>
        <a style="font-size: 14px; color: #666666; ">회원가입 (미오픈)</a>
    </div>
</div>



</body>
</html>